In [ ]:
# Import Matplot lib
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [ ]:
# Create the connection engine
engine = create_engine("postgresql://postgres:Kilgore13@localhost:5432/employees")

In [ ]:
inspector = inspect(engine)

In [ ]:
# Use inspector to get table names
inspector.get_table_names()

In [ ]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('salaries')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Salaries = Base.classes.salaries
Employees = Base.classes.employees
Titles = Base.classes.titles

In [ ]:
# Start a session to query the database
session = Session(engine)

In [ ]:
# Query Salaries for `salary' and save the query into results
results = session.query(Salaries.salary).all()

In [ ]:
salary = [result[0] for result in results]

In [ ]:
# Create histogram to visualize most common salary ranges
plt.hist(salary)
plt.show()

In [ ]:
session.query(Employees.emp_title,func.avg(Salaries.salary)
).filter(Employees.emp_no == Salaries.emp_no
).group_by(Employees.emp_title
).all()

In [ ]:
session.query(Employees.emp_title,Employees.emp_no,Salaries.emp_no,Salaries.salary
).filter(Employees.emp_no == Salaries.emp_no
).limit(10).all()

In [ ]:
results = session.query(Titles.title,func.avg(Salaries.salary)
).filter(Employees.emp_no == Salaries.emp_no
).filter(Titles.title_id == Employees.emp_title
).group_by(Titles.title
).all()

In [ ]:
title = [result[0] for result in results]
salary = [int(result[1]) for result in results]

In [ ]:
print(title)
print(salary)

In [ ]:
plt.bar(title,salary)
plt.title("Average Salary By Title")
plt.xlabel("Title")
plt.ylabel("Average Salary")
plt.show

In [ ]:
session.close()